.root {
    -fx-font-family: "Inter", sans-serif;
    -fx-background-color: #000000;
}

#root {
    -fx-background-color: #111111;
    -fx-padding: 30;
    -fx-border-color: #333333;
    -fx-border-width: 1;
}

.titled-pane {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.titled-pane > .title {
    -fx-background-color: #222222;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
    -fx-font-size: 12px;
    -fx-border-color: #444444;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 12 16;
}

.titled-pane > *.content {
    -fx-background-color: #111111;
    -fx-padding: 16;
    -fx-border-color: #444444;
    -fx-border-width: 0 1 1 1;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
}

.combo-box {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: #333333;
    -fx-background-radius: 0;
    -fx-border-width: 1;
}

.combo-box .list-cell {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

.combo-box .list-view {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
}

.text-area {
    -fx-control-inner-background: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: #333333;
    -fx-background-radius: 0;
}

.text-area .content {
    -fx-background-color: #000000;
}

.radio-button {
    -fx-text-fill: #ffffff;
}

.radio-button > .radio {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
}

.check-box {
    -fx-text-fill: #ffffff;
}

.check-box > .box {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
}

.total-amount {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: 300;
}

.combo-box .arrow-button {
    -fx-background-color: #000000;
}

.combo-box .arrow {
    -fx-background-color: #ffffff;
}

.titled-pane > .title > .text {
    -fx-fill: #ffffff;
}
